body, td, th, div {
  font-family: "Lucida Grande", Tahoma, "Sans Serif";
  font-size: 12px;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

.pad {
  padding: 5px; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.clear {
  clear: both; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.displaynone {
  display: none; }

.gray {
  color: #888; }

.black {
  color: #000; }

.leftcontent, .rightcontent {
  width: 370px;
  float: left;
  margin-right: 5px; }
  .leftcontent .block,   .rightcontent .block {
    margin-bottom: 0px; }

h1 {
  font-size: 35px; }

h3 {
  font-weight: normal; }

.hr_head {
  height: 5px;
  background: #C5E885; }

.hr {
  height: 1px;
  background: #C5E885;
  margin: 5px 0; }
  .hr.end {
    margin-left: 5px; }

.tip {
  width: 250px;
  border: 1px solid #999;
  padding: 10px 10px 0 10px; }
  .tip strong {
    color: #333; }

a {
  color: #333; }

#notice {
  padding: 5px;
  border: 1px solid #e7e925;
  background: #ffc;
  margin: 0 5px; }

#error {
  padding: 5px;
  border: 1px solid #f00;
  background: #fcc;
  margin: 0 5px; }

.spaceh5 {
  height: 5px; }

.spaceh10 {
  height: 10px; }

.spaceh15 {
  height: 15px; }

.spaceh20 {
  height: 20px; }

#header, #wrapper, #headline, #footer {
  width: 770px;
  margin: 0 auto; }
  #header>.pad,   #wrapper>.pad,   #headline>.pad,   #footer>.pad {
    padding: 5px 20px; }

#header .floatright {
  text-align: right; }
  #header .floatright a:link, #header .floatright a:visited {
    text-decoration: none; }
  #header .floatright a:active, #header .floatright a:hover {
    text-decoration: underline; }
#header #top_navigation {
  margin-top: 12px;
  width: 414px; }
  #header #top_navigation a {
    display: block;
    width: 128px;
    height: 44px;
    float: left;
    margin-left: 10px;
    position: relative; }
    #header #top_navigation a span {
      background: url('/images/localmapia.png') -336px 0 no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0; }
    #header #top_navigation a.browse span {
      background-position: -464px 0; }
    #header #top_navigation a.share span {
      background-position: -592px 0; }
#header h1 {
  margin-top: 5px;
  width: 260px;
  height: 45px;
  position: relative; }
  #header h1 span {
    background: url('/images/localmapia.png') top left no-repeat;
    position: absolute;
    width: 100%;
    height: 100%; }

#header, #wrapper {
  background: url('/images/background.png') -770px 0 repeat-y; }

#headline-container {
  background: #cbffcc; }

#headline {
  background: url('/images/background.png') top left repeat-y; }
  #headline .showcase {
    text-align: center;
    float: left;
    width: 243px;
    font-size: 13;
    margin: 10px 0 20px 0; }
  #headline .image {
    width: 160px;
    height: 200px;
    background: url('/images/localmapia.png') no-repeat;
    margin: 0 41px 10px 42px; }
  #headline .search .image {
    background-position: 0 -70px; }
  #headline .browse .image {
    background-position: -160px -70px; }
  #headline .share .image {
    background-position: -320px -70px; }
  #headline h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 5px 0; }
  #headline .tagline {
    font-size: 14px;
    margin-bottom: 10px; }
  #headline small {
    color: #666; }

#footer-container {
  background: #71CEF5 url('/images/footer.png') 0 -105px repeat-x; }
  #footer-container #footer {
    background: url('/images/footer.png') no-repeat;
    height: 105px;
    color: #fff; }
    #footer-container #footer .pad {
      padding: 10px 20px 0 20px; }
    #footer-container #footer .heading, #footer-container #footer .content {
      float: left;
      height: 16px; }
    #footer-container #footer .heading {
      width: 120px; }
    #footer-container #footer .content a,     #footer-container #footer #copyright a {
      color: #fff; }
      #footer-container #footer .content a:link, #footer-container #footer .content a:visited,       #footer-container #footer #copyright a:link, #footer-container #footer #copyright a:visited {
        text-decoration: none; }
      #footer-container #footer .content a:hover, #footer-container #footer .content a:active,       #footer-container #footer #copyright a:hover, #footer-container #footer #copyright a:active {
        text-decoration: underline; }
    #footer-container #footer .content {
      width: 500px; }
    #footer-container #footer #copyright {
      margin-top: 30px;
      font-size: 11px; }
      #footer-container #footer #copyright a {
        font-size: 11px; }

#wrapper .pad {
  padding: 5px 10px; }
#wrapper #fullcontent {
  padding: 0 10px; }

.block {
  float: left;
  margin: 5px; }
  .block.column_1 {
    width: 740px; }
  .block.column_2 {
    width: 365px; }
  .block.column_3 {
    width: 240px; }
  .block.border_bottom {
    border-bottom: 1px solid #C5E885; }
  .block h2.title {
    color: #174095;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 2px; }
  .block .button {
    margin: 6px 3px 0 0; }
  .block>.content {
    padding: 0 3px; }
    .block>.content p {
      margin: 0 0 5px 0; }
  .block a {
    color: #666;
    text-decoration: underline; }
  .block h3 a {
    font-size: 18px;
    font-weight: normal;
    margin-top: 2px;
    color: #000; }
    .block h3 a:link, .block h3 a:visited {
      text-decoration: none; }
    .block h3 a:hover, .block h3 a:active {
      text-decoration: underline; }
  .block small {
    font-size: 11px;
    color: #999; }
    .block small a {
      font-size: 11px; }
    .block small span {
      color: #666;
      font-size: 11px; }
  .block ul {
    padding: 0;
    margin: 10px 0 0 20px; }
    .block ul li {
      color: #174095;
      font-size: 120%;
      line-height: 110%;
      margin-bottom: 5px; }
      .block ul li span {
        color: #000; }
      .block ul li h3 a {
        font-size: 14px; }
  .block .markdown {
    font-size: 14px; }
    .block .markdown h1, .block .markdown h2, .block .markdown h3, .block .markdown h4 {
      font-size: 14px; }
    .block .markdown li {
      color: #000;
      font-size: 100%; }
  .block .item {
    padding-top: 4px; }
    .block .item .photo {
      float: right;
      border: 1px solid #999;
      margin: 0 0 2px 2px; }
    .block .item .content, .block .item .content li {
      color: #666; }
    .block .item .markdown {
      font-size: 12px; }
  .block .content h3 {
    font-size: 15px;
    color: #174095; }
  .block .new_feedback textarea {
    width: 355px;
    height: 150px; }

form.formatted {
  font-size: 12px;
  width: 350px; }
  form.formatted input, form.formatted textarea, form.formatted select {
    font-size: 12px; }
  form.formatted select {
    margin: 5px 0; }
  form.formatted .row>label, form.formatted .row>.field_space {
    width: 100px;
    float: left;
    margin: 5px 0;
    text-align: right;
    font-size: 14px; }
  form.formatted input.half {
    width: 150px; }
  form.formatted input.full {
    width: 230px; }
  form.formatted textarea.half {
    width: 300px;
    height: 120px; }
  form.formatted textarea.full {
    width: 235px;
    height: 200px; }
  form.formatted .field {
    line-height: 18px;
    width: 240px;
    float: left;
    margin-left: 10px; }
    form.formatted .field.pad {
      margin: 5px 0; }
  form.formatted .row {
    clear: both;
    margin-top: 5px; }
  form.formatted .after, form.formatted .below {
    font-size: 11px;
    color: #666; }
    form.formatted .after.error,     form.formatted .below.error {
      color: #f00; }
  form.formatted .below {
    width: 245px; }
  form.formatted span.required_field {
    color: red;
    position: relative;
    top: -4px;
    left: 3px;
    margin-right: 3px; }
  form.formatted .center {
    text-align: center; }
  form.formatted .displaynone {
    display: none; }
  form.formatted .fieldWithErrors {
    display: inline; }

#fullcontent form.formatted {
  width: 700px; }
  #fullcontent form.formatted .row>label, #fullcontent form.formatted .row>.field_space {
    width: 150px; }
  #fullcontent form.formatted input.half {
    width: 200px; }
  #fullcontent form.formatted input.full {
    width: 400px; }
  #fullcontent form.formatted .field {
    width: 500px; }

#add-location-map {
  margin: 10px 0;
  width: 730px;
  height: 500px; }

form.new_location .field, form.edit_location .field, form.new_event .field {
  font-size: 16px;
  margin: 10px 0; }
  form.new_location .field input,   form.edit_location .field input,   form.new_event .field input {
    font-size: 14px;
    width: 350px;
    margin-top: 5px; }
  form.new_location .field #category_selection,   form.edit_location .field #category_selection,   form.new_event .field #category_selection {
    margin-top: 5px;
    font-size: 14px; }
  form.new_location .field textarea,   form.edit_location .field textarea,   form.new_event .field textarea {
    font-size: 14px;
    margin-top: 5px;
    width: 350px;
    height: 200px; }
  form.new_location .field label,   form.edit_location .field label,   form.new_event .field label {
    font-size: 16px; }
form.new_location .floatright, form.edit_location .floatright, form.new_event .floatright {
  margin: 0 5px; }
form.new_location .fieldWithErrors, form.edit_location .fieldWithErrors, form.new_event .fieldWithErrors {
  display: inline; }
form.new_location .error, form.edit_location .error, form.new_event .error {
  color: #f00;
  margin-top: 3px; }
form.new_location .notice, form.edit_location .notice, form.new_event .notice {
  color: #999;
  margin-top: 3px;
  font-size: 11px; }
  form.new_location .notice p,   form.edit_location .notice p,   form.new_event .notice p {
    margin: 0 0 5px 0; }

.rating {
  margin: 0 auto;
  width: 180px; }
  .rating .floatleft {
    font-size: 14px;
    padding-top: 5px; }
  .rating .stars {
    width: 125px;
    height: 25px;
    float: left;
    margin-left: 5px;
    background: url('/images/localmapia.png') -614px -230px no-repeat; }
    .rating .stars.not_voted {
      cursor: hand;
      cursor: pointer; }
    .rating .stars.stars-10 {
      background-position: -589px -230px; }
    .rating .stars.stars-20 {
      background-position: -564px -230px; }
    .rating .stars.stars-30 {
      background-position: -539px -230px; }
    .rating .stars.stars-40 {
      background-position: -514px -230px; }
    .rating .stars.stars-50 {
      background-position: -489px -230px; }
    .rating .stars.stars-5 {
      background-position: -614px -255px; }
    .rating .stars.stars-15 {
      background-position: -589px -255px; }
    .rating .stars.stars-25 {
      background-position: -564px -255px; }
    .rating .stars.stars-35 {
      background-position: -539px -255px; }
    .rating .stars.stars-45 {
      background-position: -514px -255px; }

.edit_event textarea, .edit_location textarea {
  font-size: 14px;
  margin-top: 5px;
  width: 355px;
  height: 200px; }

#send-to-friend, .small-add-button, .small-remove-button, .small-edit-button, .small-revert-button, .back-button, .next-button, .save-button, .cancel-button, .add-button, .remove-button, .submit-button, .search-button {
  background: url('/images/localmapia.png') no-repeat;
  border: 0;
  text-indent: -1000em;
  cursor: pointer;
  cursor: hand; }

#send-to-friend {
  width: 139px;
  height: 31px;
  background-position: -570px -50px; }

.small-add-button, .small-remove-button, .small-edit-button, .small-revert-button {
  width: 83px;
  height: 20px;
  background-position: -485px -188px; }

.small-remove-button {
  background-position: -570px -188px; }

.small-edit-button {
  background-position: -655px -188px; }

.small-revert-button {
  background-position: -485px -210px; }

.back-button, .next-button {
  width: 65px;
  height: 31px;
  background-position: -570px -85px; }

.next-button {
  background-position: -640px -85px; }

.save-button, .cancel-button, .add-button, .remove-button, .submit-button, .search-button {
  width: 83px;
  height: 31px;
  background-position: -570px -120px; }

.cancel-button {
  background-position: -655px -120px; }

.add-button {
  background-position: -485px -155px; }

.remove-button {
  background-position: -570px -155px; }

.submit-button {
  background-position: -655px -155px; }

.search-button {
  background-position: -740px -120px; }

.block .markdown {
  font-size: 14px; }
  .block .markdown h1, .block .markdown h2, .block .markdown h3, .block .markdown h4 {
    font-size: 14px; }
  .block .markdown li {
    color: #000;
    font-size: 100%; }

.item .markdown li {
  color: #666; }

form#new_tag, form#new_photo {
  margin-bottom: 5px; }
  form#new_tag .field,   form#new_photo .field {
    padding-top: 5px;
    font-size: 14px; }
    form#new_tag .field #tag_name, form#new_tag .field #photo_original_url,     form#new_photo .field #tag_name, form#new_photo .field #photo_original_url {
      width: 180px;
      font-size: 13px; }

.big-button {
  background: url('/images/localmapia.png') -724px 0px no-repeat;
  width: 181px;
  height: 60px;
  margin-left: 5px; }
  .big-button.clickable {
    cursor: hand;
    cursor: pointer; }
  .big-button.second {
    margin-left: 3px; }
  .big-button.active {
    background-position: -724px -60px; }
  .big-button .left {
    width: 70px;
    float: left;
    text-align: center; }
  .big-button .right {
    margin: 10px 5px;
    float: left;
    width: 100px;
    text-align: left; }
  .big-button .number {
    font-size: 32px;
    line-height: 100%;
    margin-top: 8px; }
  .big-button .under {
    font-size: 10px; }
  .big-button .tiny {
    font-size: 12px; }
  .big-button .small {
    font-size: 14px;
    margin-left: 15px; }
  .big-button .large {
    font-size: 18px;
    margin-left: 15px; }
  .big-button .huge {
    font-size: 19px; }

.event_badge, .location_badge {
  width: 37px;
  height: 92px;
  background: url('/images/localmapia.png') -490px -50px no-repeat; }
  .event_badge .top, .event_badge .bottom,   .location_badge .top, .location_badge .bottom {
    font-size: 16px;
    text-align: center; }
  .event_badge .top,   .location_badge .top {
    padding: 23px 0px 0 0; }
  .event_badge .bottom,   .location_badge .bottom {
    padding: 8px 0px 0 0; }

.event_badge {
  background-position: -531px -50px; }

.item.event .marker, .item.location .marker {
  float: left;
  width: 35px;
  height: 50px;
  background: url('/images/localmapia.png') -266px 0px no-repeat; }
.item.event .event_badge, .item.event .location_badge, .item.location .event_badge, .item.location .location_badge {
  float: left;
  margin: 0 5px; }
.item.event .info, .item.location .info {
  float: left;
  width: 535px;
  margin: 0 5px; }
.item.event .photo, .item.location .photo {
  width: 100px;
  height: 100px; }

.item.event .marker {
  background-position: -301px 0px; }

#new_search {
  font-size: 18px;
  margin: 15px 10px; }
  #new_search input {
    font-size: 18px; }

#pagination li {
  display: inline;
  border: 1px solid #999;
  padding: 4px;
  color: #999; }

#browse_for_location_block .content, #browse_for_event_block .content {
  margin: 5px 50px; }
  #browse_for_location_block .content .category,   #browse_for_event_block .content .category {
    float: left;
    width: 295px;
    margin: 15px 10px 0 10px; }
  #browse_for_location_block .content .title,   #browse_for_event_block .content .title {
    font-size: 18px; }
  #browse_for_location_block .content a,   #browse_for_event_block .content a {
    color: #000; }

#browse_for_event_block .content .category {
  width: 190px;
  margin: 10px 10px 0 10px; }

#browse_by_tag_block .content {
  margin: 15px 60px;
  font-size: 20px;
  text-align: justify; }
  #browse_by_tag_block .content a {
    color: #000; }
  #browse_by_tag_block .content .tag-4 {
    font-size: 19px; }
  #browse_by_tag_block .content .tag-3 {
    font-size: 18px; }
  #browse_by_tag_block .content .tag-2 {
    font-size: 16px; }
  #browse_by_tag_block .content .tag-1 {
    font-size: 14px; }
  #browse_by_tag_block .content .tag-0 {
    font-size: 12px; }

#photos_block .photos img {
  margin: 2px;
  border: 1px solid #666;
  width: 75px;
  height: 75px; }
