- content_for :headline do
  - form_for Search.new(:keyword => @search.keyword) do |f|
    = f.label :keyword, "Search for"
    = f.text_field :keyword, :style => "padding-top: 2px"
    = f.submit "Search", :class => "search-button"